<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'お気に入り', folders_path, class: 'nav-link active' %>
      </li>
      <li>
        <%= link_to 'ユーザー', favorite_users_path, class: 'nav-link' %>
      </li>
    </ul>
    <table class="table table-bordered">
      <% @folders.each do |folder| %>
        <tr>
          <td><%= link_to folder.name, folder_favorite_tweets_path(folder), class: 'nav-link' %></td>
          <td class="text-center"><%= link_to image_tag('pencil-square.svg', alt: 'edit'), folder, class: 'btn' %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="text-center">
          <%= link_to '＋', new_folder_path, class: 'btn btn-primary rounded-pill w-50' %>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="col-sm-9">
  </div>
</div>

