<div class="text-center mb-3 border-bottom">
  <h1>お気に入りツイートの移動・コピー</h1>
</div>
<div class="text-center">
  <h3>フォルダ名:<%= @folder.name %></h3>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= @favorite_tweet.tweet.html_safe %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= form_with(model: [@folder, @favorite_tweet], url: folder_favorite_tweet_path) do |f| %>
        <%= render 'layouts/error_messages', model: @favorite_tweet %>
        <div class="mb-3">
          <%= f.label :folder_id, '移動先フォルダ名' %>
          <%= f.select :folder_id, @folder_list, {}, class: 'form-select' %>
<!-- 
          </br>
          <%= f.radio_button :edit_folder, :move, checked: true %>
          <%= f.label :edit_folder, '移動', {value: :move, style: "display: inline-block;"} %>
          <%= f.radio_button :edit_folder, :copy %>
          <%= f.label :edit_folder, 'コピー', {value: :copy, style: "display: inline-block;"} %>
-->
        </div>
        
        <div>
          <%= f.submit '更新', class: 'btn btn-primary w-100' %>
        </div>
      <% end %>
    </div>
  </div>
</div>