<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/main_tab' %>
    <table class="table table-bordered">
      <% @folders.each do |folder| %>
        <tr>
          <td><%= link_to folder.name, folder_favorite_tweets_path(folder), class: 'nav-link' %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= link_to '＋', new_folder_path, class: 'btn btn-primary btn-lg' %></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-9">
    <table class="table table-bordered">
      <% @favorite_tweets.each do |favorite_tweet| %>
        <tr>
          <td><%= favorite_tweet.tweet.html_safe %></td>
          <td><%= link_to '移動・コピー', folder_favorite_tweet_path(@folder, favorite_tweet), class: 'nav-link' %></td>
        </tr>
      <% end %>
    </table>
    <div>
      <%= link_to '＋', new_folder_favorite_tweet_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
</div>