<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'お気に入り', folders_path, class: 'nav-link active' %>
      </li>
      <li>
        <%= link_to 'ユーザー', favorite_users_path, class: 'nav-link' %>
      </li>
    </ul>
    <table class="table table-bordered">
      <% @folders.each do |folder| %>
        <tr>
          <td><%= link_to folder.name, folder_favorite_tweets_path(folder), class: "nav-link #{"text-muted" if request.fullpath.gsub('/folders/', '').gsub('/favorite_tweets', '') != folder.id.to_s}" %></td>
        </tr>
      <% end %>
      <tr>
        <td class="text-center">
          <%= link_to '＋', new_folder_path, class: 'btn btn-primary btn-lg w-50' %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-9 overflow-auto mb-3" style="height:800px;">
    <table class="table table-bordered">
      <% @favorite_tweets.each do |favorite_tweet| %>
        <tr>
          <td><%= favorite_tweet.tweet.html_safe %></td>
          <td class="align-middle"><%= link_to (image_tag 'pencil-square.svg'), folder_favorite_tweet_path(@folder, favorite_tweet), class: 'nav-link' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-sm-3"></div>
  <div class="col-sm-9 text-center">
    <%= link_to '＋', new_folder_favorite_tweet_path, class: 'btn btn-primary btn-lg w-50' %>
  </div>
</div>