<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'お気に入り', folders_path, class: 'nav-link' %>
      </li>
      <li>
        <%= link_to 'ユーザー', favorite_users_path, class: 'nav-link active' %>
      </li>
    </ul>
    <table class="table table-bordered">
      <% @favorite_users.each do |favorite_user| %>
        <tr>
          <td><%= link_to favorite_user.twitter_account, favorite_user, class: "nav-link #{"text-muted" if request.fullpath.gsub('/favorite_users/', '') != favorite_user.id.to_s}" %></td>
          <td class="text-center"><%= link_to (image_tag 'trash3.svg', alt: 'delete'), favorite_user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="text-center"><%= link_to '＋', new_favorite_user_path, class: 'btn btn-primary rounded-pill w-50' %></td>
      </tr>
    </table>
  </div>
  
  <div class="col-sm-9 overflow-auto mb-3" style="height:800px;">
    <a class="twitter-timeline" href="https://twitter.com/<%= @favorite_user.twitter_account %>?ref_src=twsrc%5Etfw">Tweets by <%= @favorite_user.twitter_account %></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

