<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand" href="/">Twitter Lake</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item"><%= link_to current_user.name, user_edit_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ä½¿ã„æ–¹', howto_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ãŠå•ã„åˆã‚ã›', 'https://forms.gle/Awh9Uo48UgWNkyiU8', target: :_blank, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ðŸ¤', '/', class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
